<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot API Documentation</title>
   <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="glare-button" href="/demo/chat">Live Demo Chat</a></li>
            </ul>
        </nav>
        <h1>Welcome to Healthy Way</h1>
    </header>
    <main>
        <section id="introduction">
            <h2>Introduction</h2>
            <p> Healthy way is a chatbot that helps you solve all your dietary needs.
            </p>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>
